.project {
	// padding: 2rem;
	// border: var(--border);
	// border-radius: var(--brds);
	// box-shadow: var(--shadow);

	.project__head {
		margin-bottom: 2rem;

		a {
			text-decoration: none;
			color: inherit;
		}

		h4 {
			margin-bottom: 0;
		}
	}

	.project__image {
		margin-bottom: 2rem;
	}

	.project__content {

	}

	.project__inner {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}
}