<div class="project">
	<div class="project__head">
		<h4>
			<a routerLink="/projects/{{ project.id }}">{{ project.title }}</a>
		</h4>
	</div><!-- /.project__head -->

	<div class="project__image">
		<img src="https://picsum.photos/800/600" alt=""/>
	</div><!-- /.project__image -->

	<div class="project__inner">
		<div class="project__meta">
			<span>Complexity: </span>

			<strong>{{ project.complexity }}</strong>
		</div><!-- /.project__meta -->
	
		<div class="project__actions">
			<button class="btn" (click)="clickHandler(project.id)">Build</button>
		</div><!-- /.project__actions -->
	</div><!-- /.project__inner -->
</div><!-- /.project -->
