<mat-sidenav-container class="app-container">
	<mat-sidenav class="sidebar" #sidebar mode="side" opened>
		<nav class="nav">
			<ul>
				<li>
					<a
						routerLink="/dashboard"
						routerLinkActive="is-active"
						ariaCurrentWhenActive="page"
						mat-button
					>
						<mat-icon inline="true">dashboard</mat-icon>

						<span>Dashboard</span>
					</a>
				</li>

				<li>
					<a
						routerLink="/projects"
						routerLinkActive="is-active"
						ariaCurrentWhenActive="page"
						mat-button
					>
						<mat-icon class="ico" inline="true">assignment</mat-icon>

						<span>Projects</span>
					</a>
				</li>

				<li>
					<a
						routerLink="/instances"
						routerLinkActive="is-active"
						ariaCurrentWhenActive="page"
						mat-button
					>
						<mat-icon class="ico" inline="true">construction</mat-icon>

						<span>Instances</span>
					</a>
				</li>

				<li>
					<a
						routerLink="/users"
						routerLinkActive="is-active"
						ariaCurrentWhenActive="page"
						mat-button
					>
						<mat-icon inline="true">people</mat-icon> 
						
						<span>Users</span>
					</a>
				</li>

				<li>
					<a
						routerLink="/settings"
						routerLinkActive="is-active"
						ariaCurrentWhenActive="page"
						mat-button
					>
						<mat-icon inline="true">settings</mat-icon>

						<span>Settings</span>
					</a>
				</li>
			</ul>
		</nav>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="wrapper">
			<div class="wrapper__inner">
				<header class="header">
					<mat-toolbar class="header__toolbar" color="primary">
						<div class="shell">
							<button mat-icon-button (click)="sidebar.toggle()">
								<mat-icon color="basic">menu</mat-icon>
							</button>
						</div>
						<!-- /.shell -->
					</mat-toolbar>
				</header>
				<!-- /.header -->

				<main class="main">
					<router-outlet></router-outlet>
				</main>
				<!-- /.main -->

				<footer class="footer">
					<div class="shell">
						<div class="footer__inner">
							<div class="copyright">
								<p>Copyright 2023</p>
							</div>
							<!-- /.copyright -->

							<div class="footer__nav">
								<nav class="footer-nav">
									<ul>
										<li>
											<a href="#">Resources</a>
										</li>

										<li>
											<a href="">About</a>
										</li>
									</ul>
								</nav>
								<!-- /.footer-nav -->
							</div>
							<!-- /.footer__nav -->
						</div>
						<!-- /.footer__inner -->
					</div>
					<!-- /.shell -->
				</footer>
				<!-- /.footer -->
			</div>
			<!-- /.wrapper__inner -->
		</div>
		<!-- /.wrapper -->
	</mat-sidenav-content>
</mat-sidenav-container>
